<div class="container">
    <div class="row mt centered">
        <br>
        <div class="col-lg-8 col-lg-offset-2">
            <h1>
                Contextualyze delivers Real-Time,<br/>personalized information and updates<br/>
			    to Android Wear-enabled Smartwatches<br/>
			</h1>
            <br>
            
        </div>
    </div>
    <!-- /row -->

<hr>
    <div class="row mt centered">
        <div class="col-lg-4">
            <br>
            <%= image_tag("logos.png", width: "180") %> 
            <h2>Step 1</h2>
            <p>
                Login and connect your bookmarks, <br>
                likes, pins, checkins, tweets and more<br/>
                
            </p>
        </div>
        <!--/col-lg-4 -->

        <div class="col-lg-4">
            <br>
            <%= image_tag("1000px-Graph_betweenness.svg.png", width: "180") %> 
            <h2>Step 2</h2>
            <p>
                Contexualyze intelligently indexes them<br>
                to create your personal context graph <br/>
            </p>
        </div>
        <!--/col-lg-4 -->

        <div class="col-lg-4">
            <br>
            <%= image_tag("ser01.png", width: "180") %>  
            <h2>Step 3</h2>
            <p>
                If something nearby is contextually relevant<br>
                you'll get a message from <strong class="contextualyze_text">Contextualyze!</strong>
            </p>
        </div>
        <!--/col-lg-4 -->
    </div>
    <!-- /row -->
</div>
<hr>


<div class="container">

    <! -- CAROUSEL -->
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <br>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <h1>Explore</h1>
                        <hr>
                        <h2>
                            Find interesting things to see and do,
                        </h2>
                        <h2>
                            No matter where the adventure takes you
                        </h2>
                        <%= image_tag "welcome_to_liverpool.png" %>
                        <h3>
                            You want to explore on your own terms.
                        </h3>
                        <h3>
                            Contextualyze = Best. Tourguide. Ever.
                        </h3>
                    </div>
                    
                    <div class="item">
                        <h1>Discover</h1>
                        <hr>
                        <h2>
                            Interesting things find you, 
                        </h2>
                        <h2>
                            Not the other way around.
                        </h2>
                        <%= image_tag "set_mode.png"%>
                        <h3>
                            In Discover Mode, Contextualyze tells you about
                        </h3>
                        <h3>
                             interesting things in your immediate vicinity.
                        </h3>

                        
                    </div>
                    
                    <div class="item">
                        <h1>Optimize</h1>
                        <hr>
                        <h2>
                            Recommendations are contextualyzed to 
                        </h2>
                        <h2>
                            harmonize with your daily routine
                        </h2>
                        <%= image_tag "daily_schedule.png"%>
                        <h3>
                            In Daily Mode you only get recommendations which
                        </h3>
                        <h3>
                            enable you to focus on what you really need to do.
                        </h3>
                    </div>
                </div>
                <!-- Indicators -->
                <!-- <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol> -->
            </div>
            
        </div>
        <!-- /col-lg-8 -->
    </div>
    <!-- /row -->
</div>

<br>
<div style="text-align: center"> 
    <hr>
    <div>
        <a href="https://twitter.com/contextualyze" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @contextualyze</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div><br></div>
    <div>Contextualyze™ - 2014</div>
    <div>All Trademarks and Copyrights owned by 
        <a href="https://twitter.com/ashbt" >@ashbt</a>
    </div>
</div>


<!-- <div class="container">
    <hr> -->
    <!-- <div class="row centered">
        <div class="col-lg-6 col-lg-offset-3">
            <div id="call-to-action" style="text-align: center">
              <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Request Invite</a>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div> -->
    <!-- /row -->
<!--     <hr>
</div> -->


<style type="text/css">
    .modal-footer {
        margin-top: 0;
    }
    .container {
        width: 100%;
    }
    .btn {
        margin-bottom: 0px;
    }
    a.brand {
        color: white;
        text-align: right;
    }

    .modal {
        z-index: 1200;
    }

    input.string.optional {
        width: 100%;
    }

</style>
